/* TODO: Zrobić animacje strzałki która zachęca przejść niżej */
:root {
    --backgroundcolor: #1b1b1b;
    --bgcolor: #3b3544;
    --acentcolor: #e9204f;
    --aHovercolor: #c81b44;
    --grey: #717074;
    --lightgray: #b0b0b0;
    --acentcolor2: #dc143c;
    --fontcolor: #f3f3f3;
    --fontcolor2: #c9cbcc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: var(--backgroundcolor);
    color: var(--fontcolor);
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
        margin-left: 15px;
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        li {
            padding: 4px 8px;
            margin: 10px;
            &:hover {
                background: var(--aHovercolor);
                cursor: pointer;
                transition: background 0.3s ease;
                border-radius: 5px;
            }
            &:last-child {
                margin-right: 30px;
            }
        }
    }
}

main {
    .bar {
        width: 100%;
        height: 8px;
        background-color: var(--fontcolor);
        display: flex;
        justify-content: center;
        align-items: center;
        /*position: relative;*/
        .box_arrow {
            /*position: absolute;*/
            border-radius: 50%;
            width: 32px;
            height: 32px;
            background-color: var(--fontcolor);
            display: flex;
            justify-content: center;
            align-items: center;
            .arrow {
                display: block;
                img {
                    fill: var(--acentcolor);
                }
            }
            /*.animate__animated.animate__slideInDown {
                --animate-duration: 2s;
            }*/
        }
    }
    .Home {
        width: 100%;
        height: 100%;
        background-color: var(--grey);
    }
    .AboutMe {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}

section {
    box-sizing: border-box;
}

a {
    cursor: pointer; /* Dla każdego odsyłacza kursor zmieni się na łapkę */
    transition: all 0.7s;
}

footer {
    background-color: var(--bgcolor);
}

.swiper {
    width: 25%;
    height: 25%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #444;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
