/* Mobile first */
:root {
    --backgroundcolor: #1b1b1b;
    --acentcolor: #e9204f;
    --fontcolor: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
}
/*  Style do Slidera */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #444;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background-color: var(--backgroundcolor);
    position: sticky;
    color: var(--fontcolor);
    h2 {
        padding: 5px 10px;
    }
}

nav {
    ul {
        visibility: hidden;
        display: flex;
        list-style: none;
        li {
            padding: 8px 10px;
            &:hover {
                background-color: var(--acentcolor);
            }
        }
    }
}

/* From Uiverse.io by Creatlydev */
.icon-menu {
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
}

.bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--acentcolor);
}

.bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition:
        top 200ms 100ms,
        transform 100ms;
}

.bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
}

.bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition:
        bottom 200ms 100ms,
        transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
    transition:
        top 200ms,
        transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
    transition:
        bottom 200ms,
        transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
}

#check-icon:checked + ul {
    ul {
        visibility: visible;
        display: flex;
        list-style: none;
        li {
            padding: 8px 10px;
            &:hover {
                background-color: var(--acentcolor);
            }
        }
    }
}

/* Media query */
/*
@media (min-width: 481px)
@media (min-width: 769px)
@media (min-width: 1025px)
@media (min-width: 1440px)
*/
