* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin-left: 15px;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      padding: 5px;
      margin: 10px;

      &:hover {
        background: #555;
        cursor: pointer;
        transition: background 0.3s ease;
        border-radius: 5px;
      }
    }
  }
}
